header {
  background-image: url(../images/bg-pattern-intro-desktop.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: 25% center;
  height: 37.5rem;
  border-bottom-left-radius: 50px;
  padding: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .head {
  display: flex;
  align-items: center;
  width: 100%;
}
.navbar .logo {
  margin-right: 2rem;
}
.navbar .btn-toggle {
  display: none;
}
.navbar .arrow-dark {
  display: none;
}
.navbar .menu-container__links {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.navbar .menu-link:hover > .dropdown-nav__menu {
  display: block;
}
.navbar .menu-link {
  display: flex;
  align-items: center;
  position: relative;
  color: hsl(0, 0%, 100%);
  margin: 0 2rem;
}
.navbar .menu-link:hover {
  text-decoration: underline;
  text-decoration-color: hsl(0, 0%, 100%);
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
.navbar .dropdown-nav__menu {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  top: 1.425rem;
  border-radius: 5px;
  color: hsl(208, 49%, 24%);
  width: 10.5rem;
  height: 9rem;
  list-style: none;
  box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
  line-height: 23px;
  padding: 10px 20px;
  z-index: 1;
}
.navbar .divider {
  display: none;
}
.navbar .arrow {
  transition: transform 0.3s;
  cursor: pointer;
}
.navbar button {
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background: none;
  border: none;
  color: hsl(0, 0%, 100%);
}
.navbar button:hover .arrow {
  cursor: pointer;
  transform: rotate(180deg);
}
.navbar .btn-signup {
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}
.navbar .btn-signup:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
.navbar .btn-login {
  background: transparent;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.navbar .menu-link {
  list-style: none;
  position: relative;
  color: hsl(0, 0%, 100%);
  margin: 0 2rem;
}
.navbar .nav-buttons {
  align-items: baseline;
  display: flex;
  gap: 10px;
}
.navbar .menu-category:hover {
  text-decoration: underline;
}
.navbar .menu-link a {
  color: hsl(208, 49%, 24%);
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  font-family: "Overpass", sans-serif;
}
.navbar a:hover {
  color: hsl(240, 10%, 16%);
  font-weight: bold;
}

.header-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 11rem;
}
.header-box h1 {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  text-align: center;
}
.header-box p {
  color: hsl(0, 0%, 100%);
  text-align: center;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.header-box .btn {
  width: 100%;
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
}
.header-box .btn-free {
  background-color: hsl(0, 0%, 100%);
  color: hsl(353, 100%, 62%);
  text-decoration: none;
  position: relative;
  top: 1rem;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
.header-box .btn-free:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}
.header-box .btn-learn {
  border: 1px solid hsl(0, 0%, 100%);
  background-color: transparent;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  position: relative;
  top: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 700;
}
.header-box .btn-learn:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(355, 100%, 74%);
}

@media (max-width: 48rem) {
  header {
    background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-position: 25% 31%;
  }
  header .menu-link:hover > .dropdown-nav__menu {
    box-shadow: none;
    background-color: #d7d7d7;
    color: hsl(208, 49%, 24%);
    width: 17.25rem;
    position: absolute;
    left: -7rem;
  }
  header .dropdown-nav__menu > li {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  header .navbar .mobile-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  header .navbar .menu-container__links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  header .navbar button {
    color: hsl(208, 49%, 24%);
  }
  header .navbar button:hover .arrow-dark {
    cursor: pointer;
    transform: rotate(180deg);
  }
  header .navbar .btn-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
  }
  header .navbar .btn-toggle .hamburger {
    display: block;
  }
  header .navbar .btn-toggle .icon-close {
    display: none;
    z-index: 10;
  }
  header .navbar .btn-toggle.open .hamburger {
    display: none;
  }
  header .navbar .btn-toggle.open .icon-close {
    display: block;
  }
  header .navbar .head {
    display: none;
  }
  header .navbar .head.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    border-radius: 5px;
    top: 5rem;
    left: 1rem;
    padding: 1.5em;
    width: 90%;
    height: 12%;
    z-index: 10;
  }
  header .navbar .arrow {
    display: none;
  }
  header .navbar .arrow-dark {
    display: inline-block;
  }
  header .navbar .menu-link {
    margin: 18px 0;
  }
  header .navbar .divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: hsl(240, 10%, 16%);
    margin: 0.5rem 0;
  }
  header .navbar .nav-buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  header .navbar .btn-login {
    background: transparent;
    color: hsl(208, 49%, 24%);
    text-decoration: none;
  }
  header .navbar .btn-signup {
    background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: hsl(0, 0%, 100%);
  }
  header .header-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .header-box h1 {
    color: hsl(0, 0%, 100%);
    font-size: 2.25rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  header .header-box p {
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  header .header-box .btn {
    width: 100%;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }
  header .header-box p {
    position: relative;
    margin-top: 1rem;
  }
  header .header-box .btn {
    width: 137px;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }
  header .header-box .btn-free {
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    text-decoration: none;
    position: relative;
    top: 1rem;
    cursor: pointer;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
  }
  header .header-box .btn-free:hover {
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
  }
  header .header-box .btn-learn {
    border: 1px solid hsl(0, 0%, 100%);
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    position: relative;
    top: 1rem;
    font-family: "Overpass", sans-serif;
    font-weight: 700;
  }
  header .header-box .btn-learn:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(355, 100%, 74%);
  }
}
.future-container .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.future-container h1 {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  color: hsl(208, 49%, 24%);
  margin-top: 5rem;
}
.future-container h3 {
  font-family: "Ubuntu", sans-serif;
  color: hsl(208, 49%, 24%);
  margin-bottom: 2rem;
}
.future-container .editor-heading, .future-container .content-description {
  position: relative;
  top: 3rem;
}
.future-container p {
  line-height: 28px;
  width: 31rem;
}

@media (max-width: 43.75rem) {
  .future-container {
    height: 100%;
  }
  .future-container .row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .future-container h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .future-container h3 {
    width: 13rem;
    left: 3rem;
    position: relative;
    text-align: center;
  }
  .future-container p {
    left: -1rem;
    text-align: center;
    width: 22rem;
  }
  .future-container .content-description {
    margin-bottom: 7.5rem;
  }
  .future-container .illustration-editor {
    width: 100%;
  }
}
.infrastructure-container {
  background-color: hsl(237, 18%, 21%);
  height: 25rem;
  background-image: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-position: -14rem -26rem;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
}
.infrastructure-container h2, .infrastructure-container p {
  color: hsl(0, 0%, 100%);
}
.infrastructure-container h2 {
  font-size: 1.875rem;
  position: relative;
  top: -7rem;
  left: 2rem;
}
.infrastructure-container p {
  line-height: 28px;
  width: 35rem;
  position: relative;
  top: -5.5rem;
  left: 2rem;
}
.infrastructure-container .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.infrastructure-container .phone-img {
  position: relative;
  top: -4.5rem;
  margin-left: 4rem;
  width: 100%;
}

@media (max-width: 43.75rem) {
  .infrastructure-container {
    width: 23.44rem;
    height: 100%;
  }
  .infrastructure-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infrastructure-container .phone-img {
    width: 100%;
    left: -3.7rem;
  }
  .infrastructure-container h2 {
    top: -7rem;
    left: 0;
    text-align: center;
  }
  .infrastructure-container p {
    width: 15rem;
    position: relative;
    text-align: center;
    top: -5.5rem;
    left: 4.5rem;
  }
}
.source-container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.source-container h3 {
  color: hsl(208, 49%, 24%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  position: relative;
  right: 14rem;
  font-size: 1.875rem;
  top: 5rem;
  margin-bottom: 1.5rem;
}
.source-container p {
  width: 31rem;
  line-height: 26px;
  position: relative;
  right: 14rem;
  top: 4rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  color: hsl(206, 13%, 34%);
}
.source-container .illust-laptop {
  position: relative;
  right: 17rem;
  top: 7rem;
}

@media (max-width: 43.75rem) {
  .source-container {
    width: 23.44rem;
    height: 100%;
  }
  .source-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 7rem;
  }
  .source-container .illust-laptop {
    width: 100%;
    right: 0;
    top: 1rem;
  }
  .source-container h3 {
    right: 0rem;
    left: 0rem;
    text-align: center;
    font-size: 1.75rem;
    top: 3rem;
  }
  .source-container .source-2 {
    top: 5rem;
  }
  .source-container p {
    right: 0rem;
    text-align: center;
    top: 4rem;
    width: 18rem;
  }
}
footer {
  background-color: hsl(240, 10%, 16%);
  height: 22.438rem;
  border-top-right-radius: 5rem;
}
footer h4 {
  color: hsl(0, 0%, 100%);
}
footer .c-heading {
  margin-top: -1.5rem;
}
footer .connect-heading {
  margin-top: -3.1rem;
}
footer .foot-logo {
  position: relative;
  top: -2rem;
}
footer .footer_navigation {
  list-style: none;
  line-height: 30px;
  margin-top: 4.5rem;
}
footer .footer_navigation a {
  color: hsl(240, 3%, 79%);
  text-decoration: none;
}
footer .footer_navigation a:hover {
  text-decoration: underline;
}
footer .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 43.75rem) {
  footer {
    height: 100%;
  }
  footer .foot-logo {
    top: 2rem;
  }
  footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
}