@import 'variables.scss';

header {
    background-image: url(../images/bg-pattern-intro-desktop.svg),
        linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    background-repeat: no-repeat;
    background-position: 25% center;
    height: 37.5rem;
    border-bottom-left-radius: 50px;
    padding: 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .head {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .logo {
        margin-right: 2rem;
    }

    .btn-toggle {
        display: none;
    }

    .arrow-dark {
        display: none;
    }

    .menu-container__links {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    .menu-link:hover > .dropdown-nav__menu {
        display: block;
    }

    .menu-link {
        display: flex;
        align-items: center;
        position: relative;
        color: $white;
        margin: 0 2rem;
    }

    .menu-link:hover {
        text-decoration: underline;
        text-decoration-color: $white;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    .dropdown-nav__menu {
        display: none;
        position: absolute;
        background-color: $white;
        top: 1.425rem;
        border-radius: 5px;
        color: $very-dark-blue;
        width: 10.5rem;
        height: 9rem;
        list-style: none;
        box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
        -webkit-box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: -5px 29px 30px 1px rgba(0, 0, 0, 0.31);
        line-height: 23px;
        padding: 10px 20px;
        z-index: 1;
    }

    .divider {
        display: none;
    }

    .arrow {
        transition: transform 0.3s;
        cursor: pointer;
    }

    button {
        cursor: pointer;
        font-family: $ubuntu;
        font-weight: 500;
        font-size: 1rem;
        background: none;
        border: none;
        color: $white;
    }

    button:hover .arrow {
        cursor: pointer;
        transform: rotate(180deg);
    }

    .btn-signup {
        background-color: $white;
        color: $light-red;
        padding: 10px 20px;
        border-radius: 50px;
        text-decoration: none;
        font-family: $overpass;
        font-weight: 500;
    }

    .btn-signup:hover {
        background-color: $very-light-red-cta;
        color: $white;
    }

    .btn-login {
        background: transparent;
        color: $white;
        text-decoration: none;
    }

    .menu-link {
        list-style: none;
        position: relative;
        color: $white;
        margin: 0 2rem;
    }

    .nav-buttons {
        align-items: baseline;
        display: flex;
        gap: 10px;
    }

    .menu-category:hover {
        text-decoration: underline;
    }

    .menu-link a {
        color: $very-dark-blue;
        cursor: pointer;
        font-weight: 500;
        text-decoration: none;
        font-family: $overpass;
    }

    a:hover {
        color: $very-dark-black-blue;
        font-weight: bold;
    }
}


.header-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 11rem;

    h1 {
        color: $white;
        font-size: 4rem;
        text-align: center;
    }

    p {
        color: $white;
        text-align: center;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 1.25rem;
    }

    .btn {
        width: 100%;
        padding: 10px 20px;
        border-radius: 50px;
        text-decoration: none;
        color: $white;
    }

    .btn-free {
        background-color: $white;
        color: $light-red;
        text-decoration: none;
        position: relative;
        top: 1rem;
        cursor: pointer;
        font-family: $overpass;
        font-weight: 700;
    }

    .btn-free:hover {
        background-color: $very-light-red-cta;
        color: $white;
    }

    .btn-learn {
        border: 1px solid $white;
        background-color: transparent;
        color: $white;
        text-decoration: none;
        position: relative;
        top: 1rem;
        font-family: $overpass;
        font-weight: 700;
    }


    .btn-learn:hover {
        background-color: $white;
        color: $very-light-red-cta;
    }
}

@media(max-width: 48rem) {
    header {
        background-image: url(../images/bg-pattern-intro-mobile.svg), linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
        background-repeat: no-repeat;
        background-position: 25% 31%;

        .menu-link:hover>.dropdown-nav__menu {
            box-shadow: none;
            background-color: #d7d7d7;
            color: $very-dark-blue;
            width: 17.25rem;
            position: absolute;
            left: -7rem;
        }

        .dropdown-nav__menu>li {
            flex-direction: column;
            justify-content: center;
            display: flex;
            align-items: center;
        }

        .navbar {
            .mobile-header {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }

            .menu-container__links {
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            button {
                color: $very-dark-blue;
            }

            button:hover .arrow-dark {
                cursor: pointer;
                transform: rotate(180deg);
            }


            .btn-toggle {
                display: block;
                background: none;
                border: none;
                cursor: pointer;

                .hamburger {
                    display: block;
                }

                .icon-close {
                    display: none;
                    z-index: 10;
                }
            }

            .btn-toggle.open .hamburger {
                display: none;
            }

            .btn-toggle.open .icon-close {
                display: block;
            }

            .head {
                display: none;
            }

            .head.active {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $white;
                position: absolute;
                border-radius: 5px;
                top: 5rem;
                left: 1rem;
                padding: 1.5em;
                width: 90%;
                height: 12%;
                z-index: 10;
            }

            .arrow {
                display: none;
            }

            .arrow-dark {
                display: inline-block;
            }

            .menu-link {
                margin: 18px 0;
            }

            .divider {
                display: block;
                width: 100%;
                height: 1px;
                background-color: $very-dark-black-blue;
                margin: 0.5rem 0;
            }

            .nav-buttons {
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;
            }

            .btn-login {
                background: transparent;
                color: $very-dark-blue;
                text-decoration: none;
            }

            .btn-signup {
                background: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
                color: $white;
            }
        }

        .header-box {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: $white;
                font-size: 2.25rem;
                text-align: center;
                margin-top: 0;
                margin-bottom: 1rem;
            }

            p {
                color: $white;
                font-size: 1.25rem;
                text-align: center;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            .btn {
                width: 100%;
                padding: 10px 20px;
                border-radius: 50px;
                text-decoration: none;
                color: $white;
            }


            p {
                position: relative;
                margin-top: 1rem;
            }

            .btn {
                width: 137px;
                padding: 10px 20px;
                border-radius: 50px;
                text-decoration: none;
                color: $white;
            }

            .btn-free {
                background-color: $white;
                color: $light-red;
                text-decoration: none;
                position: relative;
                top: 1rem;
                cursor: pointer;
                font-family: $overpass;
                font-weight: 700;
            }

            .btn-free:hover {
                background-color: $very-light-red-cta;
                color: $white;
            }

            .btn-learn {
                border: 1px solid $white;
                background-color: transparent;
                color: $white;
                text-decoration: none;
                position: relative;
                top: 1rem;
                font-family: $overpass;
                font-weight: 700;
            }

            .btn-learn:hover {
                background-color: $white;
                color: $very-light-red-cta;
            }
        }
    }
}