.source-container{
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    h3{
        color: $very-dark-blue;
        font-family: $ubuntu;
        font-weight: 500;
        position: relative;
        right: 14rem;
        font-size: 1.875rem;
        top: 5rem;
        margin-bottom: 1.5rem;
    }

    p{
        width: 31rem;
        line-height: 26px;
        position: relative;
        right: 14rem;
        top: 4rem;
        font-weight: 400;
        font-family: $overpass;
        color: $very-dark-grayish-blue;
    }

    .illust-laptop{
        position: relative;
        right: 17rem;
        top: 7rem;
    }
}

@media(max-width: 43.75rem){
    .source-container {
            width: 23.44rem;
            height: 100%;
    
            .row {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 7rem;
            }
    
            .illust-laptop {
                width: 100%;
                right: 0;
                top: 1rem;
            }
    
            h3 {
                right: 0rem;
                left: 0rem;
                text-align: center;
                font-size: 1.75rem;
                top: 3rem;
            }
    
            .source-2 {
                top: 5rem;
            }
    
            p {
                right: 0rem;
                text-align: center;
                top: 4rem;
                width: 18rem;
            }
        }
}