@import 'header.scss';
@import 'variables.scss';
@import 'future.scss';
@import 'infrastructure.scss';
@import 'source.scss';
@import 'footer.scss';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    position: relative;
}


html{
    font-size: $body-text;
}

h1{
    font-size: 2.5rem;
    font-weight: 400;
    font-family: $ubuntu;
}

p{
    font-family: $overpass;
    font-weight: 300;
}
